# Research assignment 4


[Carmen Salazar]

[working title of the project] 

[3/11/2020]

In [1]:
cd "/Users/karminsalazar/Desktop/Masters Thesis"

*set more off

*capture log close

*log using research_assignment4log20200311.log


use year statefip countyfip city puma cpuma0010 ///
migrate1 migpuma1 movedin age sex race educ incwage empstat bpl /// 
using usa_00005.dta, clear

/Users/karminsalazar/Desktop/Masters Thesis

In [2]:

*keep if _n<10000
*save ipums10000.dta, replace

(48,152,118 observations deleted)

file ipums10000.dta saved

In [19]:
*codebook race
codebook sex

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
sex                                                                                                                                                                                                                                                         sex
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                  type:  numeric (byte)
                 label:  SEX

                 range:  [1,2]                        units:  1
         unique values:  2                        missing .:  0/27,319

            tabulation:  Freq.   Numeric  Label
                        12,201         1  male
                        15,118         2  female

In [2]:
keep if year==2017

gen in_white = race==1 & movedin<4 & moved!=0

gen black=race==2

(44,972,077 observations deleted)

In [3]:
gen fsex = sex==2

In [21]:
bysort sex: egen meanfemale=mean(fsex)

In [13]:
gen all=1

In [14]:
foreach var in all in_white black { 
bysort puma: egen sum`var'2 = total(`var')
gen p_`var'= sum`var'2 / sumall
}

drop if p_black <.5 
*here we are telling stata to drop all people where less than half the of the population is black

(3,162,721 observations deleted)

In [15]:
describe

*IV of whites who moved in as indicator of gentrification

Contains data from usa_00005.dta
  obs:        27,319
 vars:            29                          10 MAR 2020 22:39
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
year            int     %8.0g      YEAR       census year
statefip        byte    %8.0g      STATEFIP   state (fips code)
countyfip       int     %8.0g                 county (fips code)
city            int     %8.0g      CITY       city
puma            long    %12.0g                public use microdata area
cpuma0010       int     %8.0g                 consistent puma, 2000-2010
sex             byte    %8.0g      SEX        sex
age             byte    %8.0g      AGE        age
race            byte    %8.0g      RACE       race [general version]
bpl             int     %8.0g      BPL        birthplace [general version]
educ            byte    %8.0g      EDUC       educational attainment [general version]
empstat         byte    %8.0g      EMPSTAT    employment status [general version]
incwage         long    %12.0g                wage and salary income
migrate1        byte    %8.0g      MIGRATE1   migration status, 1 year [general version]
migpuma1        long    %12.0g                puma of residence 1 year ago
movedin         byte    %8.0g                 when occupant moved into residence
in_white        float   %9.0g
black           float   %9.0g
fsex            float   %9.0g
meanfsex        float   %9.0g
meanage         float   %9.0g
fmeanage        float   %9.0g
all             float   %9.0g
sumall2         float   %9.0g
p_all           float   %9.0g
sumin_white2    float   %9.0g
p_in_white      float   %9.0g
sumblack2       float   %9.0g
p_black         float   %9.0g
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Sorted by: puma
     Note: Dataset has changed since last saved.

In [16]:
save ipumsblack50, replace

*use ipumsblack50 dataset for future assignments

file ipumsblack50.dta saved

In [23]:
%head

     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
  1. | year | statefip | county~p |     city | puma | cpu~0010 |  sex | age |     race |      bpl |     educ |  empstat | incwage | migrate1 | migpuma1 | movedin | in_white | black | fsex | meanfsex | meanage | fmeanage | all | sumall2 | p_all |
     | 2017 | new york |       47 | new york | 4008 |      732 | male |  35 | black/af | new york | 1 year o | employed |   30000 | same hou |        0 |       0 |        0 |     1 |    0 |        0 | 40.1577 |  40.1577 |   1 |    1321 |     1 |
     |----------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
     |                   sumin_~2                   |                   p_in_w~e                    |                   sumbla~2                    |                    p_black                    |                   meanfe~e                    |
     |                         36                   |                   .0272521                    |                        744                    |                   .5632097                    |                          0                    |
     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
  2. | year | statefip | county~p |     city | puma | cpu~0010 |  sex | age |     race |      bpl |     educ |  empstat | incwage | migrate1 | migpuma1 | movedin | in_white | black | fsex | meanfsex | meanage | fmeanage | all | sumall2 | p_all |
     | 2017 | new york |       47 | new york | 4009 |      733 | male |  11 | black/af | new york | grade 5, |      n/a |  999999 | same hou |        0 |       0 |        0 |     1 |    0 |        0 | 40.1577 |  40.1577 |   1 |    2422 |     1 |
     |----------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
     |                   sumin_~2                   |                   p_in_w~e                    |                   sumbla~2                    |                    p_black                    |                   meanfe~e                    |
     |                         41                   |                   .0169282                    |                       1443                    |                   .5957886                    |                          0                    |
     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
  3. | year | statefip | county~p |     city | puma | cpu~0010 |  sex | age |     race |      bpl |     educ |  empstat | incwage | migrate1 | migpuma1 | movedin | in_white | black | fsex | meanfsex | meanage | fmeanage | all | sumall2 | p_all |
     | 2017 | illinois |       31 | not in i | 3413 |      326 | male |   4 |    white |  indiana |  nursery |      n/a |  999999 | same hou |        0 |       0 |        0 |     0 |    0 |        0 | 40.1577 |  40.1577 |   1 |    1252 |     1 |
     |----------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
     |                   sumin_~2                   |                   p_in_w~e                    |                   sumbla~2                    |                    p_black                    |                   meanfe~e                    |
     |                         24                   |                   .0191693                    |                        817                    |                   .6525559                    |                          0                    |
     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
  4. | year | statefip | county~p |     city | puma | cpu~0010 |  sex | age |     race |      bpl |     educ |  empstat | incwage | migrate1 | migpuma1 | movedin | in_white | black | fsex | meanfsex | meanage | fmeanage | all | sumall2 | p_all |
     | 2017 | illinois |       31 | chicago, | 3529 |      337 | male |  48 |    white | illinois | 5+ years | employed |       0 | same hou |        0 |       0 |        0 |     0 |    0 |        0 | 40.1577 |  40.1577 |   1 |    1581 |     1 |
     |----------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
     |                   sumin_~2                   |                   p_in_w~e                    |                   sumbla~2                    |                    p_black                    |                   meanfe~e                    |
     |                         89                   |                   .0562935                    |                       1022                    |                   .6464263                    |                          0                    |
     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
  5. | year | statefip | county~p |     city | puma | cpu~0010 |  sex | age |     race |      bpl |     educ |  empstat | incwage | migrate1 | migpuma1 | movedin | in_white | black | fsex | meanfsex | meanage | fmeanage | all | sumall2 | p_all |
     | 2017 | illinois |       31 | chicago, | 3531 |      337 | male |  67 | black/af | arkansas | 1 year o | not in l |       0 | same hou |        0 |       3 |        0 |     1 |    0 |        0 | 40.1577 |  40.1577 |   1 |     930 |     1 |
     |----------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
     |                   sumin_~2                   |                   p_in_w~e                    |                   sumbla~2                    |                    p_black                    |                   meanfe~e                    |
     |                          2                   |                   .0021505                    |                        882                    |                   .9483871                    |                          0                    |
     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
  6. | year | statefip | county~p |     city | puma | cpu~0010 |  sex | age |     race |      bpl |     educ |  empstat | incwage | migrate1 | migpuma1 | movedin | in_white | black | fsex | meanfsex | meanage | fmeanage | all | sumall2 | p_all |
     | 2017 | illinois |       31 | chicago, | 3529 |      337 | male |  60 | black/af | illinois | 5+ years | employed |       0 | same hou |        0 |       6 |        0 |     1 |    0 |        0 | 40.1577 |  40.1577 |   1 |    1581 |     1 |
     |----------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
     |                   sumin_~2                   |                   p_in_w~e                    |                   sumbla~2                    |                    p_black                    |                   meanfe~e                    |
     |                         89                   |                   .0562935                    |                       1022                    |                   .6464263                    |                          0                    |
     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
  7. | year | statefip | county~p |     city | puma | cpu~0010 |  sex | age |     race |      bpl |     educ |  empstat | incwage | migrate1 | migpuma1 | movedin | in_white | black | fsex | meanfsex | meanage | fmeanage | all | sumall2 | p_all |
     | 2017 |  florida |        0 | not in i | 8602 |      234 | male |  38 | black/af | west ind | 5+ years | employed |       0 | same hou |        0 |       0 |        0 |     1 |    0 |        0 | 40.1577 |  40.1577 |   1 |     854 |     1 |
     |----------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
     |                   sumin_~2                   |                   p_in_w~e                    |                   sumbla~2                    |                    p_black                    |                   meanfe~e                    |
     |                         41                   |                   .0480094                    |                        482                    |                   .5644028                    |                          0                    |
     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
  8. | year | statefip | county~p |     city | puma | cpu~0010 |  sex | age |     race |      bpl |     educ |  empstat | incwage | migrate1 | migpuma1 | movedin | in_white | black | fsex | meanfsex | meanage | fmeanage | all | sumall2 | p_all |
     | 2017 | new york |       47 | new york | 4009 |      733 | male |   1 |    white | new york | n/a or n |      n/a |  999999 | same hou |        0 |       0 |        0 |     0 |    0 |        0 | 40.1577 |  40.1577 |   1 |    2422 |     1 |
     |----------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
     |                   sumin_~2                   |                   p_in_w~e                    |                   sumbla~2                    |                    p_black                    |                   meanfe~e                    |
     |                         41                   |                   .0169282                    |                       1443                    |                   .5957886                    |                          0                    |
     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
  9. | year | statefip | county~p |     city | puma | cpu~0010 |  sex | age |     race |      bpl |     educ |  empstat | incwage | migrate1 | migpuma1 | movedin | in_white | black | fsex | meanfsex | meanage | fmeanage | all | sumall2 | p_all |
     | 2017 | new york |       47 | new york | 4011 |      735 | male |   6 | black/af | new york |  nursery |      n/a |  999999 | same hou |        0 |       0 |        0 |     1 |    0 |        0 | 40.1577 |  40.1577 |   1 |     818 |     1 |
     |----------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
     |                   sumin_~2                   |                   p_in_w~e                    |                   sumbla~2                    |                    p_black                    |                   meanfe~e                    |
     |                         59                   |                   .0721271                    |                        468                    |                   .5721272                    |                          0                    |
     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
 10. | year | statefip | county~p |     city | puma | cpu~0010 |  sex | age |     race |      bpl |     educ |  empstat | incwage | migrate1 | migpuma1 | movedin | in_white | black | fsex | meanfsex | meanage | fmeanage | all | sumall2 | p_all |
     | 2017 | illinois |       31 | chicago, | 3531 |      337 | male |  82 | black/af | illinois | grade 12 | not in l |   15000 | same hou |        0 |       0 |        0 |     1 |    0 |        0 | 40.1577 |  40.1577 |   1 |     930 |     1 |
     |----------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
     |                   sumin_~2                   |                   p_in_w~e                    |                   sumbla~2                    |                    p_black                    |                   meanfe~e                    |
     |                          2                   |                   .0021505                    |                        882                    |                   .9483871                    |                          0                    |
     +----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

## 1. Develop hypotheses about interactions between your independent variables [1 pt]

You can use the GSS data, Student aid data, or your own data

    A. Write at least two hypotheses involving at least 2 of the following types of interactions
        1) nominal * nominal
        2) nominal * interval-ratio
        3) interval-ratio * interval-ratio
        
Hypothesis 1: I predict that my dependent variable of p_in_white (percent of residents that are  white               people who moved into the Census tract) will increase as my independent variables of p_black (percent of                 each district that is black and education level decreases.

Hypothesis 2: I predict that my dependent variable of p_in_white (percent of residents that are  white  people who moved into the Census tract) will decrease as my independent variables of p_black (percent of each district that is black) and sex categorically changes.
       
   
        
    B. State the predicted direction of association between your dependent variable and:
        1) each of the 2 independent variables by themselves
        2) the interaction of the 2 indendent variables
        3) you can predict that there is no association
        
I predict there is an association between my dependent variable and a decrease in the percent of each district that is black along with sex of individual. I also predict an association between percent of residents in Census tracts that are  white people who moved into the Census tract and the education level of an individual. 

    C. Write a couple sentences about the theoretical reasons (prior knowledge / research) for each of your predictions
    -based on prior knowledge of research-
My predictions are based on literature that focuses on

## 2. Test your hypotheses [3 pts]

    A. For each hypothesized interactive relationship: use regression with the appropriate interaction syntax to estimate a 1 model with uninteracted variables and 1 model with interacted variables. Use --esttab-- with %html magic to output a model with the 2 tables
    
    B. Use margins and marginsplot with the appropriate syntax to visually represent your regression adjusted estimates for given nominal categories or at given interval-ratio values

In [41]:
est clear 

 eststo: reg p_in_white p_black meanfemale educ
 eststo: reg p_in_white p_black c.meanfemale##c.educ

      Source |       SS           df       MS      Number of obs   =    27,319
-------------+----------------------------------   F(3, 27315)     =   3062.84
       Model |  2.87720757         3   .95906919   Prob > F        =    0.0000
    Residual |  8.55315818    27,315   .00031313   R-squared       =    0.2517
-------------+----------------------------------   Adj R-squared   =    0.2516
       Total |  11.4303657    27,318  .000418419   Root MSE        =     .0177

------------------------------------------------------------------------------
  p_in_white |      Coef.   Std. Err.      t    P>|t|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
     p_black |  -.0919952   .0009613   -95.70   0.000    -.0938793    -.090111
  meanfemale |   -.000284   .0002159    -1.32   0.188    -.0007071    .0001392
        educ |   .0002442   .0000344     7.10   0.000     .0001768    .0003116
       _cons |   .0894471   .0006757   132.39   0.000     .0881228    .0907714
------------------------------------------------------------------------------
(est1 stored)


      Source |       SS           df       MS      Number of obs   =    27,319
-------------+----------------------------------   F(4, 27314)     =   2297.14
       Model |  2.87729793         4  .719324483   Prob > F        =    0.0000
    Residual |  8.55306781    27,314  .000313139   R-squared       =    0.2517
-------------+----------------------------------   Adj R-squared   =    0.2516
       Total |  11.4303657    27,318  .000418419   Root MSE        =     .0177

-------------------------------------------------------------------------------------
         p_in_white |      Coef.   Std. Err.      t    P>|t|     [95% Conf. Interval]
--------------------+----------------------------------------------------------------
            p_black |  -.0919942   .0009613   -95.70   0.000    -.0938784     -.09011
         meanfemale |  -.0000689   .0004549    -0.15   0.880    -.0009605    .0008228
               educ |   .0002648   .0000515     5.14   0.000     .0001638    .0003657
                    |
c.meanfemale#c.educ |  -.0000372   .0000692    -0.54   0.591    -.0001728    .0000985
                    |
              _cons |   .0893315   .0007091   125.98   0.000     .0879416    .0907213
-------------------------------------------------------------------------------------
(est2 stored)

In [17]:

*census tract level data, move in and already black in census tract
*% of m/f in census tract level
*mean age for census tract level 

*c,age (treat educ as continuous)
*c.pmale (% of female is
*i. - if variable is categorical
*c. - continuous variable)

*new variables should be continuous -

In [44]:
%html
esttab, html noconstant stats(r2 N, labels("R2" "N") fmt(%10.2fc %10.0fc)) cells(b(star fmt(%10.2fc)) se(fmt(%6.2fc) par)) ///
  nobase starlevels(* .1 ** .05 *** .01) mlabels("Model 1" "Model 2") ///
coeflabels (1.p_in_white "White" 2.p_black "Black" educ "Years of education" ///
  1.p_in_white#c.educ "White * education" 2.p_black#c.educ "Black * education")

This front-end or document format cannot display HTML

## 3. Interpret your results [1 pt]

Write a couple sentences answering each of the following questions:

    A. Do the results support or contradict each of your hypotheses?
    
    B. Why do the regression coefficients support or contradict your hypotheses?
    
    C. Why do your regression adjusted estimates from margins for nominal categories or given interval-ratio values support or contradict your hypotheses?